<!DOCTYPE html>
<html>
  {% include 2016_data/head.html %}
    <body id="page-top" class="index">
    {% include 2017_data/header-home.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text" id="shaded">
                <div class="intro-heading">Citlaly e Ismael<br></div>
                <div class="intro-lead-in">06-11-2020</div>
                <div class="intro-lead-in">Hotel Ocean Riviera Paradise, Playa del Carmen, Cancún</div>
                <a href="#about" class="page-scroll btn btn-xl">Info</a>
            </div>
        </div>
    </header>
    {% include 2017_data/about.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/js.html %}
    </body>
</html>
